.link {
  text-decoration: none;
  color: #f5f9ff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.link-container {
  display: flex;
  font-size: large;
  gap: 100px;
}
.active {
  color: #001c66;
  text-decoration: none;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: larger;
}
.appBar {
  background-color: #76a9ff;
}
